@page
@model VerticalSlice.Features.ListReservations.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h1>Reservations</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reservations[0].Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Reservations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
            </td>
        </tr>
}
    </tbody>
</table>